 /* Fonts */
 @font-face {
     font-family: 'Founders Grotesk';
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Light.eot");
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Light.woff2") format("woff2"), url("fonts/FoundersGrotesk/FoundersGrotesk-Light.woff") format("woff"), url("fonts/FoundersGrotesk/FoundersGrotesk-Light.ttf") format("truetype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Light.svg#FoundersGrotesk-Light") format("svg");
     font-weight: 300;
     font-style: normal;
}
 @font-face {
     font-family: 'Founders Grotesk';
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Medium.eot");
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Medium.woff2") format("woff2"), url("fonts/FoundersGrotesk/FoundersGrotesk-Medium.woff") format("woff"), url("fonts/FoundersGrotesk/FoundersGrotesk-Medium.ttf") format("truetype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Medium.svg#FoundersGrotesk-Medium") format("svg");
     font-weight: 500;
     font-style: normal;
}
 @font-face {
     font-family: 'Founders Grotesk';
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Bold.eot");
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Bold.woff2") format("woff2"), url("fonts/FoundersGrotesk/FoundersGrotesk-Bold.woff") format("woff"), url("fonts/FoundersGrotesk/FoundersGrotesk-Bold.ttf") format("truetype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Bold.svg#FoundersGrotesk-Bold") format("svg");
     font-weight: bold;
     font-style: normal;
}
 @font-face {
     font-family: 'Founders Grotesk';
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.eot");
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.woff2") format("woff2"), url("fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.woff") format("woff"), url("fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.ttf") format("truetype"), url("fonts/FoundersGrotesk/FoundersGrotesk-SemiboldItalic.svg#FoundersGrotesk-SemiboldItalic") format("svg");
     font-weight: 600;
     font-style: italic;
}
 @font-face {
     font-family: 'Founders Grotesk';
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Regular.eot");
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Regular.woff2") format("woff2"), url("fonts/FoundersGrotesk/FoundersGrotesk-Regular.woff") format("woff"), url("fonts/FoundersGrotesk/FoundersGrotesk-Regular.ttf") format("truetype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular") format("svg");
     font-weight: normal;
     font-style: normal;
}
 @font-face {
     font-family: 'Founders Grotesk';
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Semibold.eot");
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Semibold.woff2") format("woff2"), url("fonts/FoundersGrotesk/FoundersGrotesk-Semibold.woff") format("woff"), url("fonts/FoundersGrotesk/FoundersGrotesk-Semibold.ttf") format("truetype"), url("fonts/FoundersGrotesk/FoundersGrotesk-Semibold.svg#FoundersGrotesk-Semibold") format("svg");
     font-weight: 600;
     font-style: normal;
}
 @font-face {
     font-family: 'Founders Grotesk';
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.eot");
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.woff2") format("woff2"), url("fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.woff") format("woff"), url("fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.ttf") format("truetype"), url("fonts/FoundersGrotesk/FoundersGrotesk-RegularItalic.svg#FoundersGrotesk-RegularItalic") format("svg");
     font-weight: normal;
     font-style: italic;
}
 @font-face {
     font-family: 'Founders Grotesk';
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.eot");
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.woff2") format("woff2"), url("fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.woff") format("woff"), url("fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.ttf") format("truetype"), url("fonts/FoundersGrotesk/FoundersGrotesk-MediumItalic.svg#FoundersGrotesk-MediumItalic") format("svg");
     font-weight: 500;
     font-style: italic;
}
 @font-face {
     font-family: 'Founders Grotesk';
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.eot");
     src: url("fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.woff2") format("woff2"), url("fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.woff") format("woff"), url("fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.ttf") format("truetype"), url("fonts/FoundersGrotesk/FoundersGrotesk-LightItalic.svg#FoundersGrotesk-LightItalic") format("svg");
     font-weight: 300;
     font-style: italic;
}

.bg-vor-gray {
     background: #f5f5f5;
     font-family: 'Founders Grotesk';
}
address{
  font-style: initial;
}
 body {
     line-height: 30px;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
